<header>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-transparent py-3">
        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <!--img src="./assets/img/profile_small.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-center rounded-circle me-3"-->
                    ramiroZabala<span class="col1">{{"\(\)"}}</span>{{"\:"}}<span class="col2">{{" void "}}</span><span class="col1">{{"\{"}}</span>
                </a>
            </div>
            <div class="col">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-2" >
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Educacion">Educación</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Habilidades">Habilidades</a></li>
                    </ul>
                </div>
            </div>
            <!--div class="col">
                <div class="row justify-content-end">
                    <div class="col-2 col-sm-2 col-lg-1 col-xl-1 social face" ><a href="https://www.facebook.com/profile.php?id=100009462435183" target="_blank"></a></div>
                    <div class="col-2 col-sm-2 col-lg-1 col-xl-1 social twit" ><a href="https://twitter.com/RamiroZabala17" target="_blank"></a></div>
                    <div class="col-2 col-sm-2 col-lg-1 col-xl-1 social inst" ><a href="https://twitter.com/RamiroZabala17" target="_blank"></a></div>
                </div>
            </div-->
        </div>
    </nav>
</header>